
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
}


.top-navbar {
  background-color:lightseagreen ; 
  color: aquamarine;
  text-align: center;
  padding: 10px 0;
}

.navbar-heading {
  margin: 0;
}


.main-container {
  display: flex;
}


.side-navbar {
  background-color: #1e1e1e;
  border-right: 1px solid #ccc;
  width: 100px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-button {
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: background-color 0.3s ease;
}

.sidebar-button:hover {
  background-color: #e0e0e0;
}

.sidebar-button i {
  margin-right: 10px;
}

.editor-and-output {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c; 
}

.editor-wrapper {
  flex-grow: 1;
  padding: 20px;
}

.editor {
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  resize: none;
  padding: 10px;
  background-color: #1e1e1e; 
  color: white;
}

.output-area {
  background-color: #1e1e1e; 
  padding: 20px;
  border-top: 1px solid #ccc;
  height: 200px;
}

.output-area h2 {
  margin-bottom: 10px;
}

#test-button {
  color: white;
  background-color: red;
}

#compile-button {
  color: white;
  background-color: green;
}


body.dark-mode {
  background-color: #0a1320; 
  color: #d4d4d4;
}

.theme-toggle i {
  color: #d4d4d4;
}


.sidebar-button {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.sidebar-button i {
  margin-right: 0; 
}

.sidebar-button span {
  margin-top: 5px; 
}

.sidebar-button span {
  display: none;
}


.sidebar-button:hover span {
  display: inline;
}
